$text: #212529;
$text-gray: #868e96;
$red-color: red;
$add-color: #15aabf;
$bg-white: #ffffff 0% 0% no-repeat padding-box;
$bg-gray: #ffffff00 0% 0% no-repeat padding-box;
$input-bg: #f1f3f5 0% 0% no-repeat padding-box;
$input-color: #adb5bd;
$btn-bg: #12b886 0% 0% no-repeat padding-box;