@use 'sass/color';

@import url('//fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #DEE2E6 100%) 0% 0% no-repeat padding-box;
  height: 100%;
}

html {
  color: color.$text;
  font-family: 'Open Sans', sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// If you need to style the #app element
// :global(#app) {}
